Package: gendev
Version: ##VER##
Section: devel
Priority: optional
Maintainer: Matt Kubilus (mattkubilus)
Depends: texinfo, default-jre, make
Architecture: all
Homepage: https://github.com/kubilus1/gendev
Description: Sega Genesis development on *nix.
